.but {
    background: rgb(4, 74, 97);
    color: white;
    margin-left: 31.5rem;
    width: 100px;
}
@media screen and (max-width : 900px){
    .but {
        background: rgb(4, 74, 97);
        color: white;
        margin-left: 18.5rem;
        width: 100px;
    }
}

@media screen and (max-width: 400px) {
    .but {
        background: rgb(4, 74, 97);
        color: white;
        margin-left: 7rem;
        width: 100px;
    }
  }
