.but {
    background: rgb(4, 74, 97);
    color: white;
    width: 100px;
}
.butnav{
    background: none;
    color: white;
    text-decoration: none;
    border: none;
}
/* 
@media screen and (max-width : 900px){
    .but {
        background: rgb(4, 74, 97);
        color: white;
        align-items: center;
        width: 100px;
    }
}

@media screen and (max-width: 420px) {
    .but {
        background: rgb(4, 74, 97);
        color: white;
        align-items: center;
        width: 100px;
    }
  } */
