.textarea {
    width : 450px;
}

@media screen and (max-width: 420px) {
    .box {
      text-align: center;
      width: 400px;
    }
    .textarea {
      height: 80px;
      width: 320px;
    }
  }