.note {
    width : 18rem;
    background: rgb(217, 239, 247);
    margin-bottom: 1rem;
    box-shadow: 0px 25px 45px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s;
}

.note:hover{
    transform: translateY(-5px);
}
.notetext {
    color: black;
    font-weight: 500;
    font-size: x-large;
}

.noteText {
    font-weight: 500;
    font-style: italic;
}